# {{ ansible_managed | comment }}
#
dev tun
ifconfig {{ client }} {{ server }}
remote {{ vpn_gateway }}
secret {{ secret_key }}
port 1194
comp-lzo
ver 4
keepalive 10 120
persitent-key
persitent-tun
float
